.lonelySearchWrapper {
  width: 100%;
  position: relative;

  .search {
    width: 75%;
    margin: 0 auto;
    align-self: center;
    border-radius: 1rem;
    border-radius: 1rem;
  }

  .text {
    position: absolute;
    top: -2rem;
    right: 20%;
    text-transform: uppercase;

    span {
      background: #f98162;
      color: white;
    }

    span {
      &:hover {
        background: #43ac6a;
        cursor: pointer;
        transition: all 0.2s ease-in;
      }
    }
  }
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: rgb(60 64 67 / 10%) 0px 1px 3px 1px;
  background: #f98162;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  .yearInput {
    width: 10%;
    margin: 0 2rem;
  }

  input {
    height: 100%;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
  }
}
